body{
    font-family: 'Cabin', sans-serif;
    background: #F5F7F9;
    display: flex;
    flex-direction: column;
}

    /*header*/
.header{
    display: flex;
    justify-content: center;
    margin: 40px 52px 0;
    box-sizing: border-box;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
    box-sizing: border-box;
}
.img-logo{
    width: 40px;
    height: 40px;
    margin-right: 18px;
}
.header-logo-text{
    color: #0E0F13;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}
.header-logo-container{
    display: flex;
    align-items: center;
}
.header-navigation-menu ul{
    display: flex;
    gap: 56px;
}
a{
    text-decoration: none;
    color: #0E0F13;
    font-size: 20px;
    font-weight: 400;
}
.header-navigation-menu-text{
    color: #425DF8;
}
.header-navigation-button{
    display: flex;
    gap: 10px;
}
.btn{
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #DADADA;
    padding: 18px 22px;
    background: none;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
}
.btn.btn-blue{
    border: 0 solid #425DF8;
    background: #425DF8;
    color: white;
}

    /*main*/
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 145px;
    gap: 120px;
    margin-bottom: 196px;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.main-title-h1{
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
}
.main-title-p{
    color: #7F828A;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}
.plan-container{
    display: flex;
    gap: 24px;
    align-items: flex-end
}
    /*main-borders*/
.plan{
    display: flex;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    width: 416px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.plan-content{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.plan-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    box-sizing: border-box;
    width: 304px;
}
.title{
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.description{
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
}
.price-content{
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.price-value{
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
}
.price-per-month{
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}
.img-list{
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 500px;
    background: #425DF8;
}
.plan-list-item{
    display: flex;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
    gap: 16px;
}
.plan-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.plan.choice{
    display: flex;
    width: 416px;
    height: 817px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #161A34;
    background: #161A34;
}
.text{
    color: #F6FDFF;
}
    /* footer*/
.footer{
    border-top: 1px solid #0E0F13;
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1296px;
    padding: 16px;
    box-sizing: border-box;
}
.footer-logo-container{
    box-sizing: border-box;
}
.footer-logo-content{
    display: flex;
    gap: 16px;
}
.img-logo-footer{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}
.footer-logo-text{
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
}
.footer-text{
    display: flex;
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
}